
# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=16998

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=31300

# bootstrap.dat input/output settings (linearize-data)
netmagic=def2dacf
input=/home/example/.soomcore/testnet3/blocks
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1
genesis=0000059f3300f9caa0d4c8697abf1281c25099d9bc0fc1a8e996c5b714a49c49

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 10000000
