WalletFrame {
background-color:#eff3f6;
border:0px solid #eff3f6;
margin:0;
padding:0;
}

.QFrame {
background-color:transparent;
border:0px solid #fcfcfc;
}

/*******************************************************/

QStatusBar {
background-color:qradialgradient(cx: -0.8, cy: 0, fx: -0.8, fy: 0, radius: 0.6, stop: 0 #fcfcfc, stop: 1 #fcfcfc);
color:#000000;
border:0px solid #191A24;
font-size:12px;
}

QStatusBar::item {
border:0px solid #fcfcfc;
}

/*******************************************************/

QProgressBar {
background-color:transparent;
color:#333;
border:0px solid #333;
font-size:12px;
text-align:center;
}

QProgressBar::chunk {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f86c6b, stop: .1 rgba(248, 108, 107, 1), stop: .95 rgba(248, 108, 107, 1), stop: 1 #f86c6b);
border-radius:9px;
margin:0px;
}

/*******************************************************/

/* horizontal */
QSlider::groove:horizontal {
background-color:#D9D9D9;
border:1px solid #D9D9D9;
border-radius:3px;
height:7px;
}

QSlider::handle:horizontal {
background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #ffffff, stop: 1 #f0b7b7);
border:1px solid #717496;
border-radius:2px;
width:5px;
margin-top:-5px;
margin-bottom:-5px;
}

QSlider::handle:horizontal:hover {
border:1px solid #f86c6b;
border-radius:3px;
}

QSlider::handle:horizontal:pressed {
border:1px solid #4E586D;
}

QSlider::add-page:horizontal {
background-color:#D9D9D9;
border-radius:4px;
height:10px;
}

QSlider::sub-page:horizontal {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f0b7b7, stop: 1 #f86c6b);
border-radius:4px;
height:10px;
}

/* vertical */
QSlider::groove:vertical {
background-color:#ffffff;
border:1px solid #D9D9D9;
border-radius:3px;
width:7px;
height:55px;
}

QSlider::handle:vertical {
background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #ffffff, stop: 1 #f0b7b7);
border:1px solid #717496;
border-radius:2px;
height:5px;
margin-left:-5px;
margin-right:-5px;
}

QSlider::handle:vertical:hover {
border:1px solid #f86c6b;
border-radius:3px;
}

QSlider::handle:vertical:pressed {
border:1px solid #4E586D;
}

QSlider::add-page:vertical {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f0b7b7, stop: 1 #f86c6b);
border-radius:4px;
width:10px;
}

QSlider::sub-page:vertical {
background-color:#D9D9D9;
border-radius:4px;
width:7px;
}

/*******************************************************/

QMenuBar {
background-color:#bcc9dd;
}

QMenuBar::item {
color:#333;
}

QMenuBar::item:selected {
background-color:#4875b4;
color:#ffffff;
}

QMenuBar::item:disabled {
background-color:#bcc9dd;
color:#4E586D;
}

QMenu {
background-color:#bcc9dd;
}

QMenu::item {
color:#717496;
}

QMenu::item:selected {
background-color:#4875b4;
color:#ffffff;
}

QMenu::item:disabled {
background-color:#bcc9dd;
color:#4E586D;
}

/*******************************************************/

QToolBar {
background-color:#191A24;
color:#717496;
border:0px solid #333;
padding:0;
margin:0;
font-size:12px;
}

QToolBar::separator {
background-color:#191A24;
}

QToolBar > QToolButton {
background-color:#191A24;
color:#717496;
border:0px solid #191A24;
border-left:3px solid #191A24;
/*font-weight:bold;*/
font-size:12px;
min-height:2.5em;
min-width:7em;
padding-top:9px;
padding-bottom:9px;
}

QToolBar > QToolButton:checked {
background-color:rgba(117, 207, 252, 0.1);
color:#ffffff;
border-left:3px solid #75CFFC;
font-size:12px;
}

QToolBar > QToolButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 rgba(255, 255, 255, 0.1), stop: .1 rgba(255, 255, 255, 0.1), stop: .95 rgba(255, 255, 255, 0.1), stop: 1 rgba(255, 255, 255, 0.1));
border-left:3px solid rgba(255, 255, 255, 0.1);
}

QToolBar > QToolButton:focus {
border:none;
outline:none;
}

QToolBar > QToolButton:pressed {
color:#ffffff;
}

QToolBar > #tabs {
background-color:qradialgradient(cx: -0.8, cy: 0, fx: -0.8, fy: 0, radius: 0.6, stop: 0 #191A24, stop: 1 #191A24);
color: #ffffff;
}

/*******************************************************/

.QValidatedLineEdit, .QLineEdit, .QPlainTextEdit { /* Text Entry Fields */
background-color:#fcfcfc;
border:1px solid #A9A9A9;
border-radius:2px;
font-size:12px;
min-height:25px;
padding:3px;
outline:0;
}

.QValidatedLineEdit:!focus, .QLineEdit:!focus, .QPlainTextEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled, .QPlainTextEdit:disabled {
background-color:#f2f2f2;
}

/*******************************************************/

QPushButton { /* Global Button Style */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #3a5998, stop: .1 rgba(58, 89, 152, 1), stop: .95 rgba(58, 89, 152, 1), stop: 1 #3a5998);
border:1px solid #ffffff;
border-radius:20px;
color:#ffffff;
font-size:12px;
font-weight:bold;
min-width:84px;
min-height:28px;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:5px;
}

QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #5e87c9, stop: .1 rgba(94, 135, 201, 1), stop: .95 rgba(94, 135, 201, 1), stop: 1 #5e87c9);
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #ffffff;
color:#a9a9a9;
}

/*******************************************************/

QRadioButton {
color:#000000;
font-size:13px;
padding-left:5px;
padding-right:5px;
padding-top:3px;
padding-bottom:3px;
}

QRadioButton:focus {
border:none;
outline:none;
}

QRadioButton::indicator {
width:18px;
height:18px;
}

QRadioButton::indicator:checked {
image:url(':/images/light/radio_on');
}

QRadioButton::indicator:checked:disabled {
/*image:url(':/images/light/radio_on_disabled');*/
image:url(':/images/light/radio_on');
}

QRadioButton::indicator:unchecked {
image:url(':/images/light/radio_off');
}

QRadioButton::indicator:unchecked:disabled {
/*image:url(':/images/light/radio_off_disabled');*/
image:url(':/images/light/radio_off');
}

/*******************************************************/

QComboBox { /* Dropdown Menus */
background-color:#fcfcfc;
border:1px solid #A9A9A9;
border-radius:2px;
color:#818181;
font-size:12px;
min-height:31px;
/*padding:3px 5px 3px 5px;*/
}

QComboBox:checked {
background-color:#f2f2f2;
}

QComboBox:editable {
background-color:#494949;
border:0px solid transparent;
color:#616161;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox::down-arrow {
border-image:url(':/images/light/downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
background-color:#fff;
border:1px solid #717496;
color:#717496;
font-size:12px;
padding-right:1px;
padding-left:1px;
}

QComboBox QAbstractItemView::item {
margin:4px;
}

QComboBox::item {
color:#717496;
}

QComboBox::item:alternate {
background-color:#fff;
}

QComboBox::item:selected {
background-color:#f2f2f2;
border:0px solid transparent;
}

QComboBox::indicator {
selection-background-color:transparent;
selection-color:transparent;
background-color:transparent;
color:transparent;
}

/*******************************************************/

QAbstractSpinBox {
background-color:#fcfcfc;
border:1px solid #A9A9A9;
border-radius:2px;
color:#818181;
min-height:25px;
padding:3px 5px 3px 5px;
}

QAbstractSpinBox::up-button {
subcontrol-origin:border;
subcontrol-position:top right;
background-color:#fcfcfc;
border-radius:2px;
border-left:0px;
border-right:1px solid #A9A9A9;
border-top:1px solid #A9A9A9;
border-bottom:0px;
width:21px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::down-button {
subcontrol-origin:border;
subcontrol-position:bottom right;
background-color:#fcfcfc;
border-radius:2px;
border-top:0px;
border-left:0px;
border-right:1px solid #A9A9A9;
border-bottom:1px solid #A9A9A9;
width:21px;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::up-arrow {
image:url(':/images/light/upArrow_small');
}

QAbstractSpinBox::down-arrow {
image:url(':/images/light/downArrow_small');
}

/*******************************************************/

QCheckBox { /* Checkbox Labels */
background-color:transparent;
color:#333333;
border-radius:2px;
spacing:5px;
}

QCheckBox:focus {
border:none;
outline:none;
}

QCheckBox:hover {
background-color:transparent;
}

QCheckBox::indicator {
width:16px;
height:16px;
}

QCheckBox::indicator:unchecked {
image:url(':/images/light/unchecked');
}

QCheckBox::indicator:unchecked:hover {
image:url(':/images/light/unchecked');
}

QCheckBox::indicator:unchecked:pressed {
image:url(':/images/light/checked');
}

QCheckBox::indicator:unchecked:disabled {
/*image:url(':/images/light/unchecked_disabled');*/
image:url(':/images/light/unchecked');
}

QCheckBox::indicator:checked {
image:url(':/images/light/checked');
}

QCheckBox::indicator:checked:hover {
image:url(':/images/light/checked');
}

QCheckBox::indicator:checked:pressed {
image:url(':/images/light/unchecked');
}

QCheckBox::indicator:checked:disabled {
/*image:url(':/images/light/checked_disabled');*/
image:url(':/images/light/checked');
}

QCheckBox::indicator:indeterminate:hover {
image:url(':/images/light/unchecked');
}

QCheckBox::indicator:indeterminate:pressed {
image:url(':/images/light/checked');
}

/*******************************************************/

CoinControlTreeWidget { /* QTreeWidget */
background-color:transparent;
color:#000000;
border-radius:2px;
spacing:5px;
}

CoinControlTreeWidget:hover {
background-color:transparent;
}

CoinControlTreeWidget::indicator {
width:16px;
height:16px;
}

CoinControlTreeWidget::indicator:unchecked {
image:url(':/images/light/unchecked');
}

CoinControlTreeWidget::indicator:unchecked:hover {
image:url(':/images/light/unchecked');
}

CoinControlTreeWidget::indicator:unchecked:pressed {
image:url(':/images/light/checked');
}

CoinControlTreeWidget::indicator:checked {
image:url(':/images/light/checked');
}

CoinControlTreeWidget::indicator:checked:hover {
image:url(':/images/light/checked');
}

CoinControlTreeWidget::indicator:checked:pressed {
image:url(':/images/light/unchecked');
}

CoinControlTreeWidget::indicator:indeterminate:hover {
image:url(':/images/light/unchecked');
}

CoinControlTreeWidget::indicator:indeterminate:pressed {
image:url(':/images/light/checked');
}

/*******************************************************/

QHeaderView { /* Table Header */
background-color:transparent;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #03aced, stop: 1 #03aced);
color:#ffffff;
border:0px solid #717496;
border-right:1px solid #ffffff;
font-size:12px;
min-height:25px;
/*padding-left:5px;
padding-right:5px;*/
/*padding-top:2px;
padding-bottom:2px;*/
outline:0;
}

QHeaderView::section:checked {
font-weight:normal;
}

QHeaderView::section:last {
border-right:0px solid #d7d7d7;
}

QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background-color:transparent;
border:0px solid #717496;
border-top:1px solid #717496;
border-right:1px solid #717496;
font-size:12px;
outline:0;
}

QTableView::item { /* Table Item */
background-color:#ffffff;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
/*background-color:#4875b4;*/
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0, stop: .01 #4875b4, stop: .1 rgba(272, 117, 180, 0.2), stop: .95 rgba(72, 117, 180, 218), stop: 1 #4875b4);
border:1px solid #717496;
color:#ffffff;
}

/*******************************************************/
QTreeView {
background-color:transparent;
outline:0;
}

QTreeView::indicator {
background-color:#ffffff;
border:0px solid #ffffff;
color:#000000;
font-size:12px;
}

QTreeView::indicator:unchecked {
image:url(':/images/light/unchecked');
color:#ffffff;
}

QTreeView::indicator:unchecked:disabled {
image:url(':/images/light/unchecked_disabled');
color:#717496;
}

QTreeView::indicator:checked {
image:url(':/images/light/checked');
color:#ffffff;
}

QTreeView::indicator:checked:disabled {
image:url(':/images/light/checked_disabled');
color:#717496;
}

/*******************************************************/

.QScrollArea {
background-color:transparent;
border:0px;
}

QScrollBar { /* Scroll Bar */
}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
background-color:#bcc9dd;
border:0;
width:18px;
margin:18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
background-color:#bcc9dd;
border:0;
height:18px;
margin:0px 18px 0px 18px;
}

QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background-color:#3a5998;
border:2px solid #bcc9dd;
border-radius:7px;
min-height:10px;
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background-color:#3a5998;
border:2px solid #bcc9dd;
border-radius:7px;
min-width:10px;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background-color:#bcc9dd;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#bcc9dd;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin:margin;
background-color:#bcc9dd;
border:1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin:margin;
background-color:#bcc9dd;
border:1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin:margin;
background-color:#bcc9dd;
border:1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin:margin;
background-color:#bcc9dd;
border:1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar:up-arrow {
background-image: url(':/images/light/upArrow_small');
width:10px;
height:10px;
}

QScrollBar:down-arrow {
background-image: url(':/images/light/downArrow_small');
width:10px;
height:10px;
}

QScrollBar:left-arrow {
background-image: url(':/images/light/leftArrow_small');
width:10px;
height:10px;
}

QScrollBar:right-arrow {
background-image: url(':/images/light/rightArrow_small');
width:10px;
height:10px;
}

/*******************************************************/

QTabWidget {
border-bottom:1px solid #333;
}

QTabWidget::pane {
border:1px solid #d7d7d7;
}

QTabWidget QTabBar::tab {
background-color:#bcc9dd;
border-top:1px solid #bcc9dd;
color:#ffffff;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

QTabWidget QTabBar::tab:first {
border-left:1px solid #d7d7d7;
}

QTabWidget QTabBar::tab:last {
border-right:1px solid #d7d7d7;
}

QTabWidget QTabBar::tab:selected {
background-color:#03aced;
color:#fff;
}

QTabWidget QTabBar::tab:hover {
/*background-color:#d7d7d7;*/
color:#717496;
}

QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QTabWidget .QWidget QAbstractSpinBox {
min-height:18px;
}

QTabWidget .QWidget QAbstractSpinBox::down-button {
width:18px;
}

QTabWidget .QWidget QAbstractSpinBox::up-button {
width:18px;
}

QTabWidget .QWidget QComboBox {
min-height:18px;
}

QTabWidget QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

/*******************************************************/

QFileDialog {
background-color:#eff3f6;
/*color:#ffffff;*/
border:0px solid #717496;
font-size:12px;
outline:0;
}

/*******************************************************/

QDialogButtonBox QPushButton{
text-align:center;
min-width:60px;
}

/*******************************************************/

QGroupBox {
/*color:#000000;*/
font-weight:bold;
outline:0;
}

QGroupBox::title {
margin-top:3px;
}

/*******************************************************/

QToolTip {
background-color:#191A24;
border:1px solid #2B2D3C;
color:#ffffff;
padding:0;
opacity:230;
}

/*******************************************************/

QMessageBox {
background-color:#eff3f6;
}

QMessageBox QPushButton { /* QPushButton in QMessageBox */
text-align:center;
min-width:60px;
}

QLabel { /* Base Text Size & Color */
font-size:12px;
color:#333333;
}

/*******************************************************/
/* FILE MENU */

/* Edit Address Dialog */
QDialog#EditAddressDialog {
background-color:#eff3f6;
}

QDialog#EditAddressDialog QLabel {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:25px;
font-weight:normal;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

/*******************************************************/
/* Open URI */

QDialog#OpenURIDialog {
background-color:#eff3f6;
}

QDialog#OpenURIDialog QLabel#label { /* URI Label */
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}

/*******************************************************/
/* AddressBookPage */

QWidget#AddressBookPage {
background-color:#eff3f6;
}

QWidget#AddressBookPage QTableView { /* Address Listing */
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
min-width:260px;
}

QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#AddressBookPage QPushButton#showQRCode {
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#AddressBookPage QPushButton#exportButton {
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#AddressBookPage QPushButton#closeButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #ffffff, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ffffff);
color:#4E586D;
min-width:60px;
min-height:28px;
}

/*******************************************************/
/* AddressBookPage QRCode DIALOG */

QDialog#QRCodeDialog {
background-color:#eff3f6;
}

QDialog#QRCodeDialog QTextEdit {
border:1px solid #d7d7d7;
}

/*******************************************************/
/* SETTINGS MENU */

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog {
background-color:#eff3f6;
}

QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

QDialog#AskPassphraseDialog QDialogButtonBox#buttonBox QPushButton{
text-align:center;
min-width:60px;
}

QDialog#AskPassphraseDialog QMessageBox QPushButton{
text-align:center;
min-width:60px;
}

/*******************************************************/
/* Options Dialog */

QDialog#OptionsDialog {
background-color:#eff3f6;
}

QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
margin-top:2px;
margin-bottom:2px;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog QPushButton#resetButton {
padding-left:10px;
padding-right:10px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
min-height:25px;
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
min-height:20px;
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;
}

QDialog#OptionsDialog .QLabel#statusLabel{
color:red;
}

/*******************************************************/
/* TOOLS MENU */

QWidget#RPCConsole { /* RPC Console Dialog Box */
background-color:#eff3f6;
}

QWidget#RPCConsole .QTabWidget {
}

QWidget#RPCConsole QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

QWidget#RPCConsole .QTabWidget .QWidget {
background-color:#eff3f6;
}

QWidget#RPCConsole .QTabWidget .QWidget .QPushButton {
border-radius:7px;
outline:0;
min-height:20px;
}

QWidget#RPCConsole .QWidget#tab_console .QPushButton {
background-color:transparent;
border:0px;
min-width:20px;
}

QWidget#RPCConsole .QWidget#tab_nettraffic .QLabel#line {
background-color:#00ff00;
min-height:3px;
}

QWidget#RPCConsole .QWidget#tab_nettraffic .QLabel#line_2 {
background-color:#ff0000;
min-height:3px;
}

QWidget#RPCConsole .QWidget#tab_peers .QHeaderView::section{
background-color:#C0C0C0;
color:black;
}

QWidget#RPCConsole .QWidget#tab_peers .QTableView {
background-color:#ffffff;
border:1px solid #717496;
}

QWidget#RPCConsole QWidget#tab_info QLabel#label_11, QWidget#RPCConsole QWidget#tab_info QLabel#label_10 { /* Margin between Network and Block Chain headers */
qproperty-alignment: 'AlignBottom';
min-height:25px;
min-width:180px;
}

QWidget#RPCConsole QWidget#tab_peers QLabel#peerHeading { /* Peers Info Header */
color:#494949;
}

QWidget#RPCConsole QLineEdit#lineEdit { /* Console Input */
min-height:20px;
}

QWidget#RPCConsole QLineEdit#lineEdit:focus { /* Console Input */
border:1px solid #7d81c1;
}

QWidget#RPCConsole QTextEdit#messagesWidget { /* Console Messages Window */
border:0;
}

QWidget#RPCConsole QPushButton#openDebugLogfileButton {
min-width:60px;
}

/*******************************************************/
/* HELP MENU */

/* Command Line Options Dialog */
QDialog#HelpMessageDialog {
background-color:#eff3f6;
}

QDialog#HelpMessageDialog QTextEdit {
background-color:#eff3f6;
}

QDialog#HelpMessageDialog QScrollArea * {
background-color:#eff3f6;
}

QDialog#HelpMessageDialog QLabel#aboutMessage {
border:0px solid #eff3f6;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}

QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
border:0;
}

/*******************************************************/
/* About Soom Dialog */

QDialog#AboutDialog {
background-color:#ffffff;
}

QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About Soom Contents */
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { /* Margin for About Soom text */
margin-right:10px;
}

/*******************************************************/
/* OVERVIEW SCREEN */

/* BALANCES */
QWidget .QFrame#frame { /* Wallet Balance */
background-color:#ffffff;
min-width:500px;
}

QWidget .QFrame#frame > .QLabel {
background-color:transparent;
min-width:190px;
min-height:30px;
font-weight:normal;
}

QWidget .QFrame#frame .QLabel#label_5 { /* Wallet Label */
qproperty-alignment: 'AlignVCenter | AlignLeft';
background-color:transparent;
color:#494949;
font-size:20px;
font-weight:bold;
min-height:24px;
min-width:180px;
margin-left:0px;
margin-top:0px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWalletStatus { /* Wallet Sync Status */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
color:red;
border:1px solid red;
border-radius:7px;
padding:1px;
text-align:center;
min-width:90px;
min-height:26px;
}

QWidget .QFrame#frame .QLabel#labelSpendable { /* Spendable Header */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:14px;
font-weight:bold;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchonly { /* Watch-only Header */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:14px;
font-weight:bold;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelBalanceText { /* Available Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
min-width:105px;
min-height:32px;
margin-left:5px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelBalance { /* Available Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
color:#34AAF9;
font-size:12px;
font-weight:bold;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailable { /* Watch-only Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
color:#34AAF9;
font-size:12px;
font-weight:bold;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelPendingText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
min-width:105px;
min-height:32px;
margin-left:5px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { /* Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchPending { /* Watch-only Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
min-width:105px;
min-height:32px;
margin-left:5px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelImmature { /* Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmature { /* Watch-only Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
min-width:105px;
min-height:32px;
margin-left:5px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelTotal { /* Total Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotal { /* Watch-only Total Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#lineSpendableBalance {    /* SpendableBalance line */
background-color:#717496;
margin-left:26px;
min-height:2px;
}

QWidget .QFrame#frame .QLabel#lineWatchBalance {    /* WatchBalance line2 */
background-color:#717496;
min-height:2px;
}

/* RECENT TRANSACTIONS */
QWidget .QFrame#frame_2 { /* Transactions Widget */
background-repeat:none;
background-color:#ffffff;
min-width:500px;
margin-left:0;
margin-top:0;
}

QWidget .QFrame#frame2 > .QLabel {
background-color:transparent;
font-weight:normal;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
color:#494949;
font-size:20px;
font-weight:bold;
min-width:180px;
min-height:24px;
margin-top:0px;
margin-left:67px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
color:red;
border:1px solid red;
border-radius:7px;
padding:1px;
text-align:center;
min-width:90px;
min-height:26px;
}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-size:12px;
font-weight:normal;
margin-top:12px;
margin-left:0px; /* CSS Voodoo - set to -66px to hide default transaction icons */
}

/*******************************************************/
/* MODAL OVERLAY */

QWidget#ModalOverlay .QWidget#bgWidget { /* The 'frame' overlaying the overview-page */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #6a6a6a, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 1), stop: 1 #494949);
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#ModalOverlay .QWidget#bgWidget .QPushButton#warningIcon {
image:url(':/icons/light/warning');
background-color:transparent;
width:64px;
height:64px;
padding:5px;
}

QWidget#ModalOverlay .QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
border-image:url(':/images/light/walletFrame_bg') 0 0 0 0 stretch stretch;
border-top:0px solid #000;
margin:0;
padding-top:20px;
padding-bottom:20px;
}

QWidget#ModalOverlay .QWidget#bgWidget .QPushButton#closeButton {
min-width:60px;
}

QWidget#ModalOverlay .QLabel {
color:#000000;
}

/*******************************************************/
/* RECEIVE COINS */

QWidget#ReceiveCoinsDialog {
background-color:#eff3f6;
}

QWidget#ReceiveCoinsDialog .QFrame#frame {
background-color:#ffffff;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 {
background-color:#ffffff;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
color:#494949;
font-size:16px;
font-weight:bold;
min-height:32px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 > .QLabel {
background-color:transparent;
font-weight:normal;
}

QWidget#ReceiveCoinsDialog /*.QFrame#frame2*/ .QLabel#label_5 { /* Receive Coin Control Header */
color:#494949;
font-size:16px;
font-weight:bold;
min-height:32px;
padding-left:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { /* Label Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
font-weight:bold;
min-width:105px;
min-height:32px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { /* Amount Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
font-weight:bold;
min-width:105px;
min-height:32px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { /* Message Label */
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
color:#ffffff;
font-size:12px;
font-weight:bold;
min-height:32px;
min-width:105px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog /*.QFrame#frame2 */.QPushButton#clearButton { /* Clear Button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog /*.QFrame#frame2 */.QPushButton#receiveButton { /* Clear Button */
min-height:28px;
padding-left:10px;
padding-right:10px;
margin-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QPushButton#removeRequestButton { /* Remove Button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QPushButton#showRequestButton { /* Show Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QCheckBox#reuseAddress {
font-size:12px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QCheckBox#checkUseInstantSend {
font-size:12px;
}

/*******************************************************/
/* SEND COINS */

QDialog#SendCoinsDialog {
background-color:#eff3f6;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */
background-color:#ffffff;
}

QDialog#SendCoinsDialog .QFrame#frameFee { /* Transaction Fee Section */
background-color:#ffffff;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
font-weight:normal;
}


QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color:#494949;
font-size:16px;
font-weight:bold;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlAutomaticallySelected { /*automatically selected */
color:#494949;
font-size:12px;
font-weight:bold;
padding-top:15px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
qproperty-margin:-6;
font-weight:normal;
margin-right:112px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlInsuffFunds {
}

QDialog#SendCoinsDialog .QFrame#frameFee .QLabel#labelFeeHeadline {  /* Transaction Fee Header */
color:#494949;
font-weight:bold;
font-size:16px;
padding-top:10px;
}

QDialog#SendCoinsDialog .QFrame#frameFee .QLabel#labelFeeMinimized {  /* Transaction Fee Minimized */
color:#494949;
font-size:12px;
padding-top:15px;
}

QDialog#SendCoinsDialog .QFrame#frameFee .QLabel#fallbackFeeWarningLabel {  /* "Warning: Fee estimation is currently not possible." Label */
color:#FFA500;
font-size:12px;
font-weight:bold;
padding-top:5px;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee2:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee2:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee3 {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee3:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFee3:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelFeeEstimation:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelFeeEstimation:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFeeNormal:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFeeNormal:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFeeFast:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelSmartFeeFast:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#confirmationTargetLabel {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#confirmationTargetLabel:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#confirmationTargetLabel:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelMinFeeWarning:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QLabel#labelMinFeeWarning:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog QLabel#label {
color:#616161;
font-size:14px;
font-weight:bold;
min-height:27px;
border-radius:5px;
margin-left:20px;
margin-right:-2px;
padding-top:15px;
padding-right:-2px;
}

QDialog#SendCoinsDialog QLabel#labelBalance {
color:#333333;
border-radius:5px;
min-height:27px;
margin-left:0px;
padding-left:0px;
padding-top:15px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
padding:2px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
font-size:12px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background-color:transparent;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
min-height:32px;
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QFrame#frameFee .QPushButton#buttonMinimizeFee { /* Hide Button */
border-radius:5px;
min-height:23px;
padding-left:-3px;
padding-right:-3px;
}

QDialog#SendCoinsDialog .QFrame#frameFee .QPushButton#buttonChooseFee { /* Choose Button */
border-radius:5px;
min-height:23px;
padding-left:-3px;
padding-right:-3px;
}

QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f86c6b, stop: .1 rgba(248, 108, 107, 1), stop: .95 rgba(248, 108, 107, 1), stop: 1 #f86c6b);
border:0;
color:#ffffff;
padding-left:10px;
padding-right:10px;
min-height:32px;
}

QDialog#SendCoinsDialog .QPushButton#sendButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #fba2a2, stop: .1 rgba(251, 162, 162, 1), stop: .95 rgba(251, 162, 162, 1), stop: 1 #fba2a2);
}

QDialog#SendCoinsDialog .QPushButton#sendButton:pressed {
border:1px solid #a9a9a9;
color:#a9a9a9;
}

QDialog#SendCoinsDialog .QPushButton#clearButton { /* Clear Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QDialog#SendCoinsDialog .QPushButton#addButton { /* Add Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioSmartFee {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomFee {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomPerKilobyte {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomPerKilobyte:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomPerKilobyte:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomAtLeast {
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomAtLeast:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QRadioButton#radioCustomAtLeast:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QCheckBox#checkBoxMinimumFee {
font-size:12px;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QCheckBox#checkBoxMinimumFee:enabled {
color:#000000;
}

QDialog#SendCoinsDialog .QFrame#frameFeeSelection .QCheckBox#checkBoxMinimumFee:disabled {
color:#4E586D;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseInstantSend { /* InstantSend Checkbox */
background-color:qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));
color:#616161;
font-weight:bold;
border-radius:5px;
padding-top:15px;
margin-left:10px;
margin-right:20px;
}

/*******************************************************/
/* SEND COINS ENTRY */

QStackedWidget#SendCoinsEntry {
background-color:#ffffff;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
background-color:#4e586d;
font-weight:bold;
font-size:12px;
color:#ffffff;
min-width:102px;
min-height:25px;
margin-right:5px;
padding-right:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#payToLabel {
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#labellLabel {
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#messageLabel {
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#messageTextLabel {
qproperty-alignment: 'AlignVCenter | AlignHCenter';
background-color:#4e586d;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QCheckBox#checkboxSubtractFeeFromAmount {
padding-left:10px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QValidatedLineEdit#payTo { /* Pay To Input Field */
outline:0;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLineEdit#addAsLabel { /* Pay To Input Field */
outline:0;
}

QStackedWidget#SendCoinsEntry .QPushButton { /* General Settings for Pay To Icons */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #3a5998, stop: .1 #3a5998, stop: .95 #3a5998, stop: 1 #3a5998);
border:1px solid #ffffff;
border-radius:20px;
color:#ffffff;
font-size:12px;
font-weight:bold;
min-width:64px;
min-height:28px;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#addressBookButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#addressBookButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#addressBookButton:pressed {
border:1px solid #9e9e9e;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#pasteButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#pasteButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#pasteButton:pressed {
border:1px solid #9e9e9e;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#deleteButton {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#deleteButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QPushButton#deleteButton:pressed {
border:1px solid #9e9e9e;
}

/*******************************************************/
/* COIN CONTROL POPUP */

QDialog#CoinControlDialog { /* Coin Control Dialog Window */
background-color:#eff3f6;
}

QDialog#CoinControlDialog .QFrame#frame {
background-color:#eff3f6;
border:0px solid #eff3f6;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
}

QDialog#CoinControlDialog .QDialogButtonBox#buttonBox { /* Coin Control 'OK' button */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */

}

QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
color:transparent;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
background-color:#ffffff;
border:0px solid #818181;
outline:0;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
background-image: url(':/images/light/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
background-image: url(':/images/light/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */
}

/*******************************************************/
/* RECEIVE REQUEST DIALOG */

QDialog#ReceiveRequestDialog {
background-color:#eff3f6;
}

QDialog#ReceiveRequestDialog .QTextEdit#outUri {
border:1px solid #d7d7d7;
color:#000000;
}

QDialog#ReceiveRequestDialog .QLabel#lblPayInfoTitle {
font-weight:bold;
font-size:15px;
min-height:19px;
}

QDialog#ReceiveRequestDialog .QPushButton#btnCopyURI {
}

QDialog#ReceiveRequestDialog .QPushButton#btnCopyAddress {
}

QDialog#ReceiveRequestDialog .QPushButton#btnSaveAs {
}

QDialog#ReceiveRequestDialog .QDialogButtonBox#buttonBox {
}

/*******************************************************/
/* Sign/Verify Message */

QDialog#SignVerifyMessageDialog {
background-color:#eff3f6;
}

QDialog#SignVerifyMessageDialog .QTabWidget {
border-bottom:1px solid #333;
}

QDialog#SignVerifyMessageDialog .QTabWidget::pane {
border:1px solid #d7d7d7;
}

QDialog#SignVerifyMessageDialog .QTabWidget QTabBar::tab {
background-color:#bcc9dd;
border-top:1px solid #bcc9dd;
color:#fff;
min-width:450px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

QDialog#SignVerifyMessageDialog .QTabWidget QTabBar::tab:first {
border-left:1px solid #d7d7d7;
}

QDialog#SignVerifyMessageDialog .QTabWidget QTabBar::tab:last {
border-right:1px solid #d7d7d7;
}

QDialog#SignVerifyMessageDialog .QTabWidget QTabBar::tab:selected {
background-color:#03aced;
color:#fff;
}

QDialog#SignVerifyMessageDialog .QTabWidget QTabBar::tab:hover {
color:#717496;
}

QDialog#SignVerifyMessageDialog .QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QDialog#SignVerifyMessageDialog QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border:1px solid #A9A9A9;
background-color:#fff;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus {
font-size:12px;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM {  /* Address Book Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
/* qproperty-icon: url(":/icons/light/editpaste"); */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
/* qproperty-icon: url(":/icons/light/editcopy"); */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QDialog#SignVerifyMessageDialog QPushButton#signMessageButton_SM { /* Sign Message - signMessage Button */
padding-left:10px;
padding-right:10px;
min-height:28px;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 1), stop: .95 rgba(250, 250, 250, 1), stop: 1 #ebebeb);
border:1px solid #ffffff;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 1), stop: .95 rgba(240, 240, 240, 1), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#verifyMessageButton_VM { /* verify Message - verifyMessage Button */
min-height:28px;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog .QLabel#signatureLabel_SM {
font-size:15px;
min-height:19px;
}

/*******************************************************/
/* GatewayList */

QWidget#GatewayList {
}

QWidget#GatewayList .QTabWidget {
border-bottom:1px solid #333;
}

QWidget#GatewayList QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

QWidget#GatewayList .QTabWidget::pane {
border:1px solid #d7d7d7;
}

QWidget#GatewayList .QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QWidget#GatewayList .QTabWidget QTabBar::tab {
background-color:#bcc9dd;
color:#fff;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top:1px solid #bcc9dd;
min-width:450px;
}

QWidget#GatewayList .QTabWidget QTabBar::tab:first {
border-left:1px solid #d7d7d7;
}

QWidget#GatewayList .QTabWidget QTabBar::tab:last {
border-right:1px solid #d7d7d7;
}

QWidget#GatewayList .QTabWidget QTabBar::tab:selected {
background-color:#03aced;
color:#fff;
}

QWidget#GatewayList .QTabWidget QTabBar::tab:hover {
/*background-color:#d7d7d7;*/
color:#717496;
}

/*******************************************************/
/* TRANSACTIONS PAGE */

TransactionView QLineEdit { /* Filters */
margin-bottom:2px;
margin-right:1px;
min-width:111px;
text-align:center;
}

TransactionView QLineEdit#addressWidget { /* Address Filter */
margin-bottom:2px;
margin-right:1px;
min-width:405px;
text-align:center;
}

TransactionView QLineEdit#amountWidget { /* Amount Filter */
margin-bottom:2px;
margin-right:1px;
max-width:100px;
text-align:center;
}

TransactionView QComboBox {
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
color:#333333;
font-weight:bold;
}

QLabel#transactionSum { /* Example of setObjectName for widgets without name */
color:#333333;
}

/*******************************************************/
/* TRANSACTION DETAIL DIALOG */

QDialog#TransactionDescDialog {
background-color:#eff3f6;
}

QDialog#TransactionDescDialog QTextEdit#detailText { /* Contents of Receive Coin Dialog */
border:1px solid #ffffff;
}

QDialog#TransactionDescDialog QDialogButtonBox#buttonBox QPushButton{
text-align:center;
background-color:#ffffff;
color:#4E586D;
min-width:60px;
}

